Repository offalynne/Input, pull requests merged in 2023-08, with the labels that each got.

#758 Fix Steam Deck power button sticking, prevent key scanning returning "any" on out of range values
  scripts/__input_hotswap_tick/__input_hotswap_tick.gml
  scripts/__input_initialize/__input_initialize.gml
  scripts/__input_keyboard_key/__input_keyboard_key.gml
  scripts/__input_system_tick/__input_system_tick.gml
Labels: bug :sweat_smile:, platform-windows 💢, platform-ubuntu 🐧, device-keyboard 🔨

#747 Joystick support macro, joystick name to type match via usage logs
  scripts/__input_config_external_data/__input_config_external_data.gml
  scripts/__input_gamepad_set_blacklist/__input_gamepad_set_blacklist.gml
  scripts/__input_gamepad_set_type/__input_gamepad_set_type.gml
Labels: feature :thought_balloon:, platform-android 🤖, device-gamepad 🎾, platform-desktop-native 🖥️

#750 Hotswap on press
  scripts/__input_class_gamepad/__input_class_gamepad.gml
  scripts/__input_class_verb_state/__input_class_verb_state.gml
  scripts/__input_hotswap_tick/__input_hotswap_tick.gml
  scripts/input_source_detect_input/input_source_detect_input.gml
Labels: feature :thought_balloon:, platform-android 🤖, device-gamepad 🎾, platform-desktop-native 🖥️

#749 Fix two virtual button bugs
  scripts/__input_system_tick/__input_system_tick.gml
  scripts/input_virtual_destroy_all/input_virtual_destroy_all.gml
Labels: bug :sweat_smile:, device-touch 🦔

#761 Bump data
  datafiles/controllertypes.csv
  datafiles/sdl2.txt
  scripts/__input_define_gamepad_types/__input_define_gamepad_types.gml
  scripts/__input_gamepad_set_type/__input_gamepad_set_type.gml
Labels: feature :thought_balloon:, platform-android 🤖, device-gamepad 🎾, platform-desktop-native 🖥️

#765 Block input when debug overlay is open
  input.yyp
  scripts/__input_class_cursor/__input_class_cursor.gml
  scripts/__input_class_gamepad_mapping/__input_class_gamepad_mapping.gml
  scripts/__input_gm_runtime_version/__input_gm_runtime_version.gml
  scripts/__input_gm_runtime_version/__input_gm_runtime_version.yy
  scripts/__input_hotswap_tick/__input_hotswap_tick.gml
  scripts/__input_initialize/__input_initialize.gml
  scripts/__input_keyboard_key/__input_keyboard_key.gml
  scripts/__input_mouse_button/__input_mouse_button.gml
  scripts/__input_player_tick_sources/__input_player_tick_sources.gml
  scripts/__input_system_tick/__input_system_tick.gml
  scripts/__input_validate_macros/__input_validate_macros.gml
  scripts/input_debug_player_input/input_debug_player_input.gml
  scripts/input_gamepad_check/input_gamepad_check.gml
  scripts/input_gamepad_check_pressed/input_gamepad_check_pressed.gml
  scripts/input_gamepad_check_released/input_gamepad_check_released.gml
  scripts/input_gamepad_value/input_gamepad_value.gml
  scripts/input_mouse_check/input_mouse_check.gml
  scripts/input_mouse_check_pressed/input_mouse_check_pressed.gml
  scripts/input_mouse_check_released/input_mouse_check_released.gml
  scripts/input_mouse_wheel_down/input_mouse_wheel_down.gml
  scripts/input_mouse_wheel_up/input_mouse_wheel_up.gml
  scripts/input_source_detect_input/input_source_detect_input.gml
Labels: feature :thought_balloon:

#764 Apply filters to initial source state check on rebind
  scripts/__input_class_player/__input_class_player.gml
Labels: feature :thought_balloon:

#766 Add touch button icon
  input.yyp
  scripts/__input_config_icons/__input_config_icons.gml
  scripts/input_binding_get_icon/input_binding_get_icon.gml
  scripts/input_icon_touch/input_icon_touch.gml
  scripts/input_icon_touch/input_icon_touch.yy
Labels: feature :thought_balloon:, device-touch 🦔
